h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
}
a {
    font-weight: bold;
    font-family: 'Inconsolata', monospace;
}

.date {
    font-family: monospace;
    font-size: 1.3em; 
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 10px;
    font-family: 'Inconsolata', monospace;
}
